In [1]:
import re

In [14]:
txt = "Mitesh Jagdish Kalikar"

x = re.search("^Mitesh.*Kalikar$", txt)

In [15]:
print(x)

<re.Match object; span=(0, 22), match='Mitesh Jagdish Kalikar'>

In [16]:
if x:
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [19]:
# findall
# []	A set of characters

name = "Mitesh Jagdish Kalikar, from nanded , Ok"

x = re.findall("[a,e,i,o,u,A,I,E,O,U]",name)

In [20]:
x

['i', 'e', 'a', 'i', 'a', 'i', 'a', ',', 'o', 'a', 'e', ',', 'O']

In [21]:
# Vowel count
len(x)

13

In [28]:
name = "Mitesh Jagdish Kalikar, from nanded , Ok"

x = re.findall("[a-m]",name)
x

['i',
 'e',
 'h',
 'a',
 'g',
 'd',
 'i',
 'h',
 'a',
 'l',
 'i',
 'k',
 'a',
 'f',
 'm',
 'a',
 'd',
 'e',
 'd',
 'k']

In [29]:
# \ Signals a special sequence (can also be used to escape special characters)
# \d
find_digit = "Mitesh kalikar house no 72"

x = re.findall("\d",find_digit)

In [30]:
x

['7', '2']

In [31]:
is_digit = "Mitesh kalikar house no 72"

x = re.findall("\d",is_digit)

if x:
    print("Digit is available",x)
else:
    print("Digit is not available")

Digit is available ['7', '2']

In [34]:
is_digit = "Mitesh kalikar house no ten"

x = re.findall("\d",is_digit)

if x:
    print("Digit is available",x)
else:
    print("Digit is not available")

Digit is not available

In [42]:
# find occurance of 'ada' in given string
txt = 'kwenfwjkfnksjdnfaejradajrfngfjdknvadaksnvjksndada'

x = re.findall("ada",txt)

len(x)

3

In [56]:
#  .	Any character (except newline character)

txt = 'Mitesh jagdish kalikar'
x = re.findall("Mi..sh",txt)
x

['Mitesh']

In [57]:
txt = 'Mitesh jagdish kalikar'
x = re.findall("Mi..sh.*kali..r",txt)
x

['Mitesh jagdish kalikar']

In [61]:
# *	Zero or more occurrences

txt = "The rain in Spaixn falls maixxnly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

x = re.findall("aix*", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['ai', 'aix', 'aixx', 'ai']
Yes, there is at least one match!

In [63]:
# +	One or more occurrences

name = "Mitesh Kalikar Sujit Jamdade Jivan Ahire Mi"

x = re.findall("Mit+",name)
print(x)


name = "Miesh Kalikar Sujit Jamdade Jivan Ahire Mi"

x = re.findall("Mit+",name)
print(x)

['Mit']
[]

In [66]:
# {}	Exactly the specified number of occurrences  "ab{2}"
#abb
txt = "jvnfdjvndfaabbjcndjscabbshcujdaba"
x = re.findall("ab{2}",txt)
x

['abb', 'abb']

In [70]:
# |	Either or "Sujit|Mitesh"

names = " Sujit Jivan Mitesh"
x = re.findall("Sujit|Mitesh",names)
print(x)

names = " Chetan Jivan Mitesh"
x = re.findall("Sujit|Mitesh",names)
print(x)

names = " Chetan Jivan Kalikar"
x = re.findall("Sujit|Mitesh",names)
print(x)

['Sujit', 'Mitesh']
['Mitesh']
[]

In [80]:
#\A start with

txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

['The']

In [78]:
# \Z end with
txt = "The rain in Spain"

#Check if the string ends with "Spain":

x = re.findall("Spain\Z", txt)

print(x)

['Spain']

In [79]:
# combination with start with and end with 
txt = "Mitesh Jagdish Kalikar"

x = re.findall("\AMitesh.*Kalikar\Z", txt)
x

['Mitesh Jagdish Kalikar']

In [87]:
#  /b start

txt = "ain The rain ain  ainq in Spain"

#Check if "ain" is present at the beginning of a WORD:

x = re.findall(r"\bain", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['ain', 'ain', 'ain']
Yes, there is at least one match!

In [82]:
# end word /b

txt = "The rain in Spain"

#Check if "ain" is present at the end of a WORD:

x = re.findall(r"ain\b", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['ain', 'ain']
Yes, there is at least one match!